<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
        * {
            box-sizing: border-box;
            padding:0;
            margin: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
        }

        .container {
            width: 100%;
            padding: 20px;
           
            background-color: white;
            box-shadow: 1px 1px 3px gray;
            margin-bottom: 30px;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>
            TIMOTHEE'S BLOG
        </h1>
    </div>
   

</body>

</html>
